<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.farmers.buyers">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.camera" />
    <uses-permission android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true">

        <activity android:name=".modules.addMoney.AddMoneyWallet" />
        <activity android:name=".modules.seller.manageCalender.ManageCalenderActivity" />
        <activity android:name=".modules.changePassword.sellerChangePassword.SellerChangePasswordActivity" />
        <activity android:name=".modules.seller.sellerProfile.editProfile.SellerShopSetting" />
        <activity android:name="com.farmers.seller.modules.viewOrderDetails.ViewOrderDetailsActivity" />
        <activity android:name=".modules.seller.coupon.addCoupon.AddNewCouponActivity" />
        <activity android:name="com.farmers.seller.modules.broadcastMessage.activity.CreateMessageActivity" />
        <activity android:name="com.farmers.seller.modules.broadcastMessage.activity.BroadcastMessageActivity" />
        <activity android:name="com.farmers.seller.modules.editProfile.SellerEditProfileActivity" />
        <activity android:name="com.farmers.seller.modules.referFriends.SellerReferFriendsActivity" />
        <activity android:name=".modules.seller.coupon.list.ManageCouponActivity" />
        <activity android:name="com.farmers.seller.modules.setupSellerAccount.documentUpload.DocumentUploadActivity" />
        <activity android:name="com.farmers.seller.modules.setupSellerAccount.verification.VerificationActivity" />
        <activity android:name="com.farmers.seller.modules.setupSellerAccount.serviceDetails.ServiceDetailsStepActivity" />
        <activity android:name="com.farmers.seller.modules.setupSellerAccount.storeDetails.StoreDetailsStepActivity" />
        <activity android:name=".modules.seller.addProduct.AddProductActivity" />
        <activity android:name=".modules.seller.product.ProductListActivity" />
        <activity android:name=".modules.address.MyAddressActivity" />
        <activity android:name=".modules.support.list.SupportActivity" />
        <activity android:name=".modules.address.AddNewAddressActivity" />
        <activity android:name=".modules.orders.track.TrackOrderActivity" />
        <activity android:name=".modules.ratingAndReview.RatingAndReviewActivity" />
        <activity android:name=".modules.referFriends.ReferFriendsActivity" />
        <activity android:name=".modules.changePassword.ChangePasswordActivity" />
        <activity android:name=".modules.orders.subOrderList.SubOrderListActivity" />
        <activity android:name=".modules.orders.list.OrdersListActivity" />
        <activity android:name=".modules.chat.ChatActivity" />
        <activity android:name=".modules.inbox.NotificationsActivity" />
        <activity android:name=".modules.wallet.WalletActivity" />
        <activity android:name=".modules.profile.editProfile.EditProfileActivity" />
        <activity android:name=".modules.followers.FollowersActivity" />
        <activity android:name=".modules.cart.order.OrderSuccessDetailActivity" />
        <activity android:name=".modules.cart.order.PlaceOrderActivity" />
        <activity android:name=".modules.cart.checkout.CheckOutFromCartActivity" />
        <activity android:name=".modules.cart.myCart.MyCartActivity" />
        <activity android:name=".modules.farmDetail.FarmDetailActivity" />
        <activity android:name=".modules.home.HomeActivity" />
        <activity android:name=".modules.forgotPassword.ForgotPassword" />
        <activity android:name=".modules.signUp.SubmitOtpActivity" />
        <activity android:name=".modules.signUp.OtpActivity" />
        <activity android:name=".modules.signUp.SignUpActivity" />
        <activity android:name=".modules.login.LoginActivity" />
        <activity android:name=".modules.location.ManualLocationActivity" />
        <activity android:name=".modules.location.LocationAccessActivity" />
        <activity android:name=".modules.onBoarding.OnBoardingActivity" />
        <activity android:name=".modules.accountDetails.AccountDetailsActivity" />
        <activity android:name="com.farmers.seller.modules.ourOrders.OurOrdersActivity" />
        <activity android:name=".modules.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".modules.seller.sellerProfile.SellerProfileActivity" />
        <activity android:name="com.farmers.seller.modules.workingHour.WorkingHourActivity" />
        <activity android:name=".modules.aboutStore.AboutStoreActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

    </application>

</manifest>